*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.line{
  border: solid #E60965 5px;
  border-bottom: none;
  width: 7%;
  margin: 10PX auto;
}


.Bigcontainer{
    width: 100vw;
    margin: 0 auto;
    padding: 10px;
    height: 80vh;
}

.title{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    margin-top: 3vh;
}

.Smallcontainer{
    font-family: 'Roboto', sans-serif;
    width: 30vw;
    height: 35vh;
    margin: 0 auto;
    margin-top: 5vh;
    padding: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items:center;
    border-top: 5px solid #E60965;
    justify-content: center;
    border-top: 8px solid #E60965;
    border-radius: 10px;
    box-shadow: 0px 2px 12px 0px #C9CCD5;
}

.form{
    width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form label{
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
    color: gray;
}

.form input{
    border: 1px solid #E1E5EA;
    padding: 8px;
    margin-top: 2px;
    margin-bottom: 12px;
    border-radius: 5px;

}

.form input:focus{
    outline: none;
    border:none;
    border: 1px solid #E60965;
}


.email{
  color: black;
}


.subtitle{
    text-align: center;
}

.btn{

    background-color: #E60965;
    padding: 8px;
    color: white;
    transition: all 0.4s linear;
    border-radius: 4px;
}

.btn:hover{
    transition: all 0.4s linear;
    background-color: #980F5A;
    cursor: pointer;
}

.link{
    text-align: center;
    margin-top: 10px;
    font-size:0.8rem;
    font-weight: 600;
    color: #FF5677;
    text-decoration: none;
    transition: all 0.4s linear;
    margin-top: 12px;
}

.link:hover{
    transition: all 0.4s linear;
    color: #980F5A;
}


.Message{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: black;
    margin-top: 10px;
    padding: 5px;
}

.svg{
    position: absolute;
    bottom: 0;
    left: 0;
}


@media only screen and (max-width:640px) {
  .Bigcontainer{
      width: 100vw;
      margin: 0 auto;
      padding: 10px;
      height: fit-content;
  }

  .title{
       font-size: 1.5rem;
       font-weight: 600;
       text-align: center;
       padding: 5px;
       margin-top: 3vh;
   }

.line{
  width: 20%;
}

   .Smallcontainer{
          width: 90vw;
          height: 60vh;
          margin: 0 auto;
          margin-top: 5vh;
          padding: 10px;
          background-color: #ffffff;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-top: 5px solid #E60965;
          justify-content: center;
          border-top: 8px solid #E60965;
          border-radius: 10px;
          box-shadow: 0px 2px 12px 0px #C9CCD5;

  }
  .form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .form label{
        font-size: 0.6rem;
        font-weight: bold;
        margin-bottom: 5px;
        text-align: left;
        color: gray;
    }

    .form input{
        width: 100%;
        border: 1px solid #E1E5EA;
        padding: 8px;
        margin-top: 2px;
        margin-bottom: 12px;
        border-radius: 5px;
    }

    .form input:focus{
        outline: none;
        border:none;
        border: 1px solid #E60965;
    }

    .subtitle{
        text-align: center;
    }

    .btn{
        background-color: #E60965;
        padding: 8px;
        color: white;
        transition: all 0.4s linear;
        border-radius: 4px;
    }

    .btn:hover{
        transition: all 0.4s linear;
        background-color: #980F5A;
        cursor: pointer;
    }

    .link{
        text-align: center;
        margin-top: 10px;
        font-size:0.8rem;
        font-weight: 600;
        color: #E60965;
        text-decoration: none;
        transition: all 0.4s linear;
        margin-top: 12px;
    }

    .link:hover{
        transition: all 0.4s linear;
        color: #980F5A;
    }

    .Message{
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        color: black;
        margin-top: 10px;
        padding: 5px;
    }


    .svg{
        position: absolute;
        bottom: 0;
        left: 0;
    }

}

@media screen and (min-width: 641px) and (max-width: 1007px){
    .Bigcontainer{
        width: 100vw;
        margin: 0 auto;
        padding: 10px;
        height: fit-content;
    }

    .title{
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        padding: 5px;
        margin-top: 3vh;
    }

    .Smallcontainer{
        width: 100vw;
        height: 50vh;
        margin: 0 auto;
        margin-top: 5vh;
        padding: 10px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 5px solid #E60965;
        justify-content: center;
        border-top: 8px solid #E60965;
        border-radius: 10px;
        box-shadow: 0px 2px 12px 0px #C9CCD5;
    }

    .form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .form label{
        font-size: 0.8rem;
        font-weight: bold;
        margin-bottom: 5px;
        text-align: left;
        color: gray;
    }

    .form input{
        width: 100%;
        border: 1px solid #E1E5EA;
        padding: 8px;
        margin-top: 2px;
        margin-bottom: 12px;
        border-radius: 5px;
    }

    .form input:focus{
        outline: none;
        border:none;
        border: 1px solid #E60965;
    }

    .subtitle{
        text-align: center;
    }

    .btn{
        margin: 10px;
        border:none;
        width: 100%;
        height: 30px;
        margin: auto;
        background-color: #E60965;
        padding: 8px;
        color: white;
        transition: all 0.4s linear;
        border-radius: 4px;
    }

    .btn:hover{
        transition: all 0.4s linear;
        background-color: #980F5A;
        cursor: pointer;
    }

    .link{
        text-align: center;
        margin-top: 10px;
        font-size:0.8rem;
        font-weight: 600;
        color: #E60965;
        text-decoration: none;
        transition: all 0.4s linear;
        margin-top: 12px;
    }

    .link:hover{
        transition: all 0.4s linear;
        color: #980F5A;
    }

    .Message{
        font-size: 0.8rem;
        font-weight: 600;
        text-align: center;
        color: black;
        margin-top: 10px;
        padding: 5px;
    }

    .svg{
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .svg-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


}

@media screen and (min-width: 1008px){
    .Bigcontainer{
        width: 100vw;
        margin: 0 auto;
        padding: 10px;
        height: fit-content;
    }

    .title{
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        padding: 5px;
        margin-top: 3vh;
    }

    .Smallcontainer{
        width: 30vw;
        height: 50vh;
        margin: 0 auto;
        margin-top: 5vh;
        padding: 10px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 5px solid #E60965;
        justify-content: center;
        border-top: 8px solid #E60965;
        border-radius: 10px;
        box-shadow: 0px 2px 12px 0px #C9CCD5;
    }

    .form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .form label{
        font-size: 0.8rem;
        font-weight: bold;
        margin-bottom: 5px;
        text-align: left;
        color: gray;
    }

    .form input{
        width: 100%;
        border: 1px solid #E1E5EA;
        padding: 8px;
        margin-top: 2px;
        margin-bottom: 12px;
        border-radius: 5px;
    }

    .form input:focus{
        outline: none;
        border:none;
        border: 1px solid #E60965;
    }

    .subtitle{
        text-align: center;
    }

    .btn{
        margin: 10px;
        border:none;
        width: 100%;
        height: 30px;
        margin: auto;
        background-color: #E60965;
        padding: 8px;
        color: white;
        transition: all 0.4s linear;
        border-radius: 4px;
    }

    .btn:hover{
        transition: all 0.4s linear;
        background-color: #980F5A;
        cursor: pointer;
    }

    .link{
        text-align: center;
        margin-top: 10px;
        font-size:0.8rem;
        font-weight: 600;
        color: #E60965;
        text-decoration: none;
        transition: all 0.4s linear;
        margin-top: 12px;
    }

    .link:hover{
        transition: all 0.4s linear;
        color: #980F5A;
    }

    .Mssage{
        font-size: 0.8rem;
        font-weight: 600;
        text-align: center;
        color: black;
        margin-top: 10px;
        padding: 5px;
    }

    .svg{
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .svg-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


}
